<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://221.239.86.19:13306/mdsp</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Root12345679</property>

    <mapping resource="DrugItem.hbm.xml"/>
    <mapping resource="SingleDrugItem.hbm.xml"/>
    <mapping resource="Assay.hbm.xml"/>
    <mapping resource="AssayItem.hbm.xml"/>
    <mapping resource="User.hbm.xml"/>
    <mapping resource="Recipe.hbm.xml"/>
    <mapping class="zju.ccnt.mdsp.model.DrugItem"/>
    <mapping class="zju.ccnt.mdsp.model.SingleDrugItem"/>
    <mapping class="zju.ccnt.mdsp.model.Assay"/>
    <mapping class="zju.ccnt.mdsp.model.AssayItem"/>
    <mapping class="zju.ccnt.mdsp.model.User"/>
    <mapping class="zju.ccnt.mdsp.model.Recipe"/>
  </session-factory>
</hibernate-configuration>